@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    box-sizing: border-box;
}
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

a {
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    color:white;
}
a:hover,
a:focus {
    text-decoration: underline;
    color: black;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    color:white;
}
h2 {
    font-family: 'Source Code Pro', monospace;
}
.h2tag{
  font-family: Rubik Mono One', sans-serif';
}
h3 {
    font-weight: 100;
}
p {
    font-family: 'Source Code Pro', monospace;
    color: white;
}


.pure-img-responsive {
    max-width: 100%;
    height: auto;
}


.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background-image: linear-gradient(to right, #FFC5F6ff, #FEB1CCff, #FD9EA5ff, #FF9C55, #FF5555);
}


.juliette {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 50px;
    margin: 0;
}

.brand-tagline {
    font-weight: 300;
    color: white;
    margin: 0;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 300%;
}
.nav-item a:hover,
.nav-item a:focus {
    color: black;
    text-decoration: none;
    transform: translateY(10px);
    transition: 0.2s;
       margin-top: -20px;
        text-shadow:
        rgba(16, 16, 16, 0.4) 1px 38px 26px,
        rgba(16, 16, 16, 0.2) 1px 42px 30px,
        white -0.15em -0.1em 100px;
}

.content-subhead {
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
    font-style: oblique;
    color:rgba(237,107,154,1);
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.project {
    padding-bottom: 2em;
}
.project-title {
    font-size: 2em;
    color: white;
    margin-bottom: 0.2em;
    font-family: 'Rubik Mono One', sans-serif;
}

.project-description {
    font-family: 'Source Code Pro', monospace;
    color: rgba(216,27,96,1);
    line-height: 1.8em;
}

.project-images {
    margin: 1em 0;
}
.project-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #FF5555;
}
  .skills-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.skills-item {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    *display: inline;
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 50%;
}
.skills-item:hover {
    color: rgba(237,107,154,1);
    transform: translateY(1px);
    transition: 0.2s;
   margin-top: -20px;
    text-shadow:
    rgba(16, 16, 16, 0.4) 1px 38px 26px,
    rgba(16, 16, 16, 0.2) 1px 42px 30px,
    white -0.15em -0.1em 100px;
}
.skills-description {
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 0.05em;
    font-size: 400%;
    color: white;
}

i:hover {
    color:#FF5555;
}
#downloadbtn {
   color: #eee;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 110%;
}
/* RAINBOW CARDS */

:root {
  --primary:  #FFFFFFff;
  --secondary: #FFC5F6ff;
  --background: #192824;
  --green: #FEB1CCff;
  --yellow: #FD9EA5ff;
  --orange: #FF9C55;
  --red: #FF5555;
}

body {
  background: var(--background);
  font-family: 'Source Code Pro', monospace;
  color: var(--primary);
}

.card h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.card p {
  font-size: 27px;
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
}
.card a {
    font-size: 27px;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
  }

.card {
  background-color: var(--background);
  width: 600px;
  min-height: 300px;
  cursor: pointer;
  padding: 15px;
  margin: 75px;
  border: 3px solid var(--primary);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
}
.projcard {
    background-color: var(--background);
    width: 900px;
    min-height: 300px;
    cursor: pointer;
    padding: 15px;
    margin: 75px;
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
      20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
      30px -30px 0 -3px var(--background), 30px -30px var(--orange),
      40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }

.card:hover {
  animation: shadow-wave 1s ease infinite;
}
.projcard:hover {
    animation: shadow-wave 1s ease infinite;
  }

@keyframes shadow-wave {
  0% {
  border: 3px solid var(--primary);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }
  20% {
  border: 3px solid var(--red);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
    20px -20px 0 -3px var(--background), 20px -20px var(--green),
    30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
    40px -40px 0 -3px var(--background), 40px -40px var(--orange);
  }
  40% {
  border: 3px solid var(--orange);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
    20px -20px 0 -3px var(--background), 20px -20px var(--primary),
    30px -30px 0 -3px var(--background), 30px -30px var(--green),
    40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
  }
  60% {
  border: 3px solid var(--yellow);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
    20px -20px 0 -3px var(--background), 20px -20px var(--red),
    30px -30px 0 -3px var(--background), 30px -30px var(--primary),
    40px -40px 0 -3px var(--background), 40px -40px var(--green);
  }
  80% {
  border: 3px solid var(--green);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
    20px -20px 0 -3px var(--background), 20px -20px var(--orange),
    30px -30px 0 -3px var(--background), 30px -30px var(--red),
    40px -40px 0 -3px var(--background), 40px -40px var(--primary);
  }
    100% {
    border: 3px solid var(--primary);
  box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
    20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
    30px -30px 0 -3px var(--background), 30px -30px var(--orange),
    40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }
  }


  /* CSS HEX */
/* --outrageous-orange: #FC7A57ff;
--cotton-candy: #FFC5F6ff;
--nadeshiko-pink: #FEB1CCff;
--salmon-pink: #FD9EA5ff;
--white: #FFFFFFff; */